@import "partials/base";

header.main {
	margin: 1em 0;
	.cntr {
		border-bottom: 1px solid $secondary;
	}
	h1 {
		line-height: 1em;
	}
	.intro {
		clear: both;
	}
}

nav.main {
	a {
		font-size: 1.4em;
		margin-right: .5em;
		&:last-child {
			margin-right: 0;
		}
	}
}

.my_avatar {
	border-radius: 50%;
	width: 50%;
	height: auto;
	min-width: 31px;
	@include break(small) {
		width: 10%;
		margin: 0 1em 1em 0;
		float: left;
	}
}

// posts

.posts {
	margin: 2em 0;
	.post {
		border-bottom: 1px solid $secondary;
		padding: .6em .5em;
	}
}
.post {
	.post_title, .post_date {
		line-height: 1em;
		color: $primary;
	}
	.post_title {
	}
	.post_date {
		font-size: .8em;
	}
	header {
		margin: 1em 0;
		* {
			line-height: 1em;
		}
	}
}