<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<title>{{ site.name }}</title>
	</head>
	<body>
		<header class="main">
			<div class="cntr">
				<a href="{{ site.url }}"><img class="my_avatar" src="/assets/img/jake-cleary-avatar.jpg" alt="Me"></a>
				<h1>Hello, you.</h1>
				
				<nav class="main">
					<a href="/about"><i class="fa fa-user"></i></a>
					<a href="https://twitter.com/jakecleary"><i class="fa fa-twitter"></i></a>
					<a href="https://github.com/clear-y"><i class="fa fa-github"></i></a>
				</nav>
				
				<section class="intro">
					<p>I'm Jake Cleary, a web developer and real life human from Worthing, UK. Take a look around and read about my life if you like.</p>
				</section>
			</div>
		</header>