* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

input, button, select, textarea {
  font: inherit;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

body {
  font: 100%/1.618 'Ubuntu', sans-serif;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff8300;
}

p, ul {
  margin: 1em 0;
}

ul {
  list-style: none;
}

a {
  color: #ff8300;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transiiton: all 0.3s;
}
a:hover {
  color: #444444;
}

.cntr {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

header.main {
  padding: 10px 0;
}
header.main h1 {
  line-height: 1em;
  padding-top: 1%;
}
header.main .intro {
  clear: both;
}

nav.main a {
  font-size: 1.4em;
  margin-right: .5em;
}
nav.main a:last-child {
  margin-right: 0;
}

.my_avatar {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
@media (max-width: 480px) {
  .my_avatar {
    width: 30%;
    margin: 0 2% 0 0;
    float: left;
  }
}

.posts {
  margin: 2em 0;
}

.post {
  border-bottom: 1px solid #ff8300;
  padding: .6em .5em;
  position: relative;
}
.post .post_title, .post .post_date {
  line-height: 1em;
  color: #444444;
}
.post .post_date {
  font-size: .8em;
}
