// mixins

@mixin break($point) {
  	@if $point == large {
    	@media (min-width: 601px) { @content; }
  	}
  	@else if $point == medium {
    	@media (min-width: 600px)  { @content; }
  	}
  	@else if $point == small {
    	@media (min-width: 480px) { @content; }
  	}
  	@else if $point == tiny {
    	@media (min-width: 320px)  { @content; }
  	}
}

@mixin transition($value) {
  	transition: $value;
  	-webkit-transition: $value;
	-moz-transiiton: $value;
}

// varibles

$primary: #FFF; // dark gray
$secondary: #FF8300; // orange
$tertiary: #444444; // very light
$tertiary-compliment: lighten($tertiary, 10%);