{% include header.html %}

<main class="content_area">
	<div class="cntr">
		<section class="intro">
			<p>I'm Jake Cleary, a web developer and real life human from Worthing, UK. Take a look around and read about my life if you like.</p>
		</section>
		
		<ul class="posts">
			{% for post in site.posts %}
				<li class="post content-group">
					<div class="side is_front">
						<a href="{{ site.url }}{{ post.url }}">
							<h3 class="post_title">{{ post.title }}</h3>
							<abbr class="post_date">{{ post.date | date: "%d.%m.%y"}}</abbr>
						</a>
					</div>
					<div class="side is_back">
						<a href="{{ site.url }}{{ post.url }}">
							<h3 class="post_title">{{ post.title }}</h3>
							<abbr class="post_date">{{ post.date | date: "%d.%m.%y"}}</abbr>
						</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</main>
		
{% include footer.html %}
